//Dropdown
//
// .active - when active
//
// Markup:
// <a href="#" data-hideshow-toggler="dd_ex">Show dropdown</a>
// <div class="dropdown-menu active {{modifier_class}}" data-hideshow-target="dd_ex">
//   <a href="#" class="dropdown-menu-item">Some element</a>
//   <a href="#" class="dropdown-menu-item">Another element</a>
//   <a href="#" class="dropdown-menu-item">Fooooooooooooooooooooo</a>
// </div>
//
// Style guide: components.dropdown

$dd-point-arrow-color:   $input-border;
$dd-menu-min-width:      300px;

$dd-item-padding:        12px 16px;
$dd-item-bg:             $pure-white;
$dd-item-color:          $text-color;
$dd-item-fs:             14px;
$dd-item-weight:         $semi;

$dd-item-hover-bg:       $g-input-focused;
$dd-item-hover-color:    $pure-white;

.dropdown-menu {
  position: absolute;
  min-width: $dd-menu-min-width;

  box-shadow: 0 0 15px 1px rgba(0,0,0,.2);

  transition: opacity 300ms $cb-qck,
              top 300ms $cb-qck,
              z-index 300ms $cb-qck;
  opacity: 0;
  pointer-events: none;

  &:before {
    position: absolute;
    width: 0;
    height: 0;

    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid $dd-item-bg;

    left: 15px;
    top: -9px;
    content: '';
    z-index: 5;
  }

  &:after {
    position: absolute;
    width: 0;
    height: 0;

    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid $dd-point-arrow-color;
    left: 15px;
    top: -10px;
    content: '';
  }

  &.active {
    opacity: 1;
    z-index: 150;
    pointer-events: auto;
  }
}

.dropdown-menu-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: $dd-item-padding;

  background-color: $dd-item-bg;
  font-size: $dd-item-fs;
  color: $dd-item-color;
  font-weight: $dd-item-weight;

  transition: background-color 100ms ease,
              color 100ms ease;

  @include active(7px, .5);

  &:hover {
    background-color: $dd-item-hover-bg;
    color: $dd-item-hover-color;
  }
}
