.text-image {
  @extend %all-c;
  margin-bottom: 40px;

  &.image-left {
    .icon {
      margin-right: 40px;
    }
  }

  .icon {
    margin-left: 40px;
    font-size: 65px;
  }

  p {
    max-width: 900px;
    text-align: left;
  }
}
